body {
  background-color: #0a1d35
}

.a {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 400px;
}

.b {
  padding: 20px;
  border-bottom: dashed 1px #e8e6e3;
}

li {
  border-bottom: dashed 1px #e8e6e3;
}

.parent-list {
  padding-left: 0px;
}

li {
  padding: 20px;
}

li:last-child {
  border: none;
}