body {
  margin-top: 40px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.schedule {
  max-width: 500px;
  margin: auto;
  overflow: scroll;
  height: 300px;
}

.schedule__time {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.schedule__time:after {
  border-top: 1px solid;
  content: '';
  flex-grow: 1;
  margin-left: 1rem;
}

.schedule__meeting {
  position: absolute;
  background-color: #4388ff;
  border-radius: 20px;
  padding: 10px 40px 70px 10px;
  top: 10px;
  width: 100px;
  height: 50px;
  left: 60px;
  z-index: 1;
  color: white;
}

.schedule__lunch {
  position: absolute;
  background-color: #f45454;
  border-radius: 20px;
  padding: 40px;
  top: 10px;
  width: 100px;
  height: 140px;
  left: 320px;
  z-index: 1;
  color: white;
}

.schedule__meeting__title {
}

.schedule__meeting__description {
  margin-top: 5px;
  font-size: .5rem;
}

